*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    height: 100px;
    background-color: cornflowerblue;
    letter-spacing: 2px;
    font-size: 20px;
    color: white;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    /* background-color: #00aed9; */
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header h1{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 45px;
    color: white;
    font-weight: bolder;
}

header .plus-sign{    
    display: inline;
    background-image: url("../images/add.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
}

header .team-score{
    display: flex;
    width: 100%;
    justify-content: end;
    transform: translate(0, -120%);
    gap: 30px;
}

.team-score .team{
    display: flex;
    align-items: center;
}
.card-section-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 20px;
    position: relative;
}

.card--section{
    flex-grow: 1;
    padding: 20px 10px;
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.card--section h2{
    text-align: center;
    font-size: 30px;
}

.card-number{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #adb5bd;
    border-radius: 5px;
    cursor: pointer;
}
.card-100 .card-number{
    background-color: #F5B129;
}

.card-200 .card-number{
    background-color: #ffafcc;
}

.card-300 .card-number{
    background-color: #a2d2ff;
}

.card-400 .card-number{
    background-color: #17c3b2;
}

.card-modal-wrapper{
    position: absolute;
    height: 100%;
    overflow: auto;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(23, 195, 178, 0.5);
    display: none;
}

.card-modal{
    position: absolute;
    min-width: 60%;
    top: 20px;
    background-color: white;
    border: 1px solid black;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    font-size: 40px;
    flex-direction: column;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    text-align: center;
}

.card-modal .timer{
    font-size: 30px;
    text-align: right;
    padding-top: 20px;
}

.card-modal button{
    /* width: 30px; */
    border: 1px solid gray;
    border-radius: 5px;
    align-self: flex-end;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 20px;   
}

.card-modal .btn-close{
    background-color: #ef233c;
    color: white;
}

.card-modal .btn-steal{
    background-color: #00a896;
    color: white;
}

.card-modal .btn-showAnswer{
    background-color: #06d6a0;
    color: white;
}

.card-modal .btn-steal:disabled{
    background-color: gray;
    cursor: auto;
}

.card-answer{
    display: none;
}

.timesUp{
    display: none;
}

.card--section .card-number.cardClicked{
    background-color: white;
    color: white;
    border-color: white;
}

.seconds{
    margin-left: 5px;
}